@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {  
    height: 100%;
    margin: 0;
    background-color: black;    
} 


body{  
    background-image: url('./assets/kamran-abdullayev-LLS74TRAseM-unsplash.jpg'); 
    background-position: center; 
    background-repeat: no-repeat; 
}  